
@{
    ViewData["Title"] = "About Randon Jordan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Rokkitt&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spectral&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Open+Sans|Raleway|Spectral&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow|Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Bungee+Inline&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette|Fascinate+Inline|Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="~/css/animate.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/09470d628a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/style.css"/>






<div class="about_me">
            <div class="navbar_aboutme">
                <h1 class="title " data-aos="fade-up"
                data-aos-anchor-placement="bottom-bottom">About MeS</h1>
            </div>
            
            <div class="personalphoto">
                <img class="animateimg" data-aos="fade-right"
            data-aos-anchor-placement="top-center" src="~/images/me.png" alt="I am Randon Jordan">
            
            
                <div class="skills" data-aos="zoom-out-right" data-aos-anchor-placement="top-center">
                    <h3>〈 Summary of</h3>
                    <h1>Skills 〉</h1>
                    <div class="skillset">
                        <h4> Design <span class="skill_font">&</span> Layout</h4>
                        <h4>Animations</h4>
                        <h4>HTML <span class="skill_font">|</span> CSS <span class="skill_font">|</span> JavaScript</h4>
                        <h4>Backend - C# <span class="skill_font">|</span> Python <span class="skill_font">|</span> NodeJS</h4>
                        <h4>Strategy and Timeliness</h4>
                        <h4>Producing end results the Client wants</h4>
                    </div>
                </div>
            </div> 

            
            <section class="dropdown" data-aos="flip-up">
                <h1 class="line">Languages</h1>
                <ul class="dropdown-content" >
                    <li>HTML5</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Python</li>
                    <li>C#</li>
                    <li>TypeScript</li>

                </ul>
            </section>
            <section class="dropdown" data-aos="flip-up">
                <h1 class="line">Libraries</h1>
                    <ul class="dropdown-content">
                        <li>jQuery</li>
                        <li>Mongoose</li>
                        <li>Ajax</li>
                    </ul>
            </section>
            
            <section class="dropdown" data-aos="flip-up">
                <h1 class="line">Servers</h1>
                <ul class="dropdown-content">
                    <li>Node.js</li>
                </ul>
            </section>
            <section class="dropdown" data-aos="flip-up">
                <h1 class="line">Methodologies</h1>
                <ul class="dropdown-content">
                    <li>OOP</li>
                    <li>MVC/MTV</li>
                    <li>Responsive Design</li>
                    <li>REST APIs</li>
                    <li>CRUD Applications</li>
                </ul>
            </section>
            
            <section class="dropdown" data-aos="flip-up">
                <h1 class="line">Frameworks</h1>
                <ul class="dropdown-content">
                    <li>Flask</li>
                    <li>Django</li>
                    <li>Angular 2</li>
                    <li>Bootstrap</li>
                    <li>Express.js</li>
                    <li>ASP.Net Core</li>
                    <li>Jasmine</li>
                </ul>
            </section>
            <section class="dropdown" data-aos="flip-up" data-aos-duration="40000">
                <h1 class="line">Databases</h1>
                <ul class="dropdown-content"> 
                    <li>MySQL</li>
                    <li>NoSQL</li>
                    <li>MongoDB</li>
                </ul>
            </section>
            
            <div class="personal_content" data-aos="fade-up"
            data-aos-anchor-placement="top-center">
                <h1 class="hi rollin animated">Hi! </h1>
                
                <p>Randon Jordan here... I'm a <span class="cool_font"> Full-Stack &nbsp; Web &nbsp; Developer</span>. I focus on building 
                websites that are up to date with the latest and greatest so that your company 
                and product will thrive on the Internet and allow your business to grow. Responsiveness,
                animations, and making your brand visually glorious &nbsp; <span class="about_styling">╋</span> &nbsp; user friendly is what I do. You can trust the Intrikit 
                Webcraft process.
                </p>
            </div>
            <div class="history" data-aos="fade-right"
            data-aos-anchor-placement="top-center"
            data-aos-duration="1500"
            data-aos-easing="ease-in-back">
                <h3>HISTORY </h3>
                <h4>of Your NEW</h4>
                <h2 data-aos="flip-right">DEVELOPER</h2>
                <p>Creating from Southern California. I graduated college with a Bachelors of Science in Computer Information Systems.
                    After doing Information Technology for the last 3 1/2 years I have finally 
                    found my calling. The brain power and analytical thinking that you must do to solve 
                    programming challenges is what I live for now. IT just didn't push me enough and I was 
                    always bored at my jobs. Now I have found my complete passion. Something I love sharing with
                    clients. 
                </p>
                <p>When I'm not coding and building AMAZING websites I am outside jogging, hiking, working out, you
                    name it.. If its being active I most likely enjoy it. I also love reading, learning, and watching 
                    tv shows (when I get a chance).
                </p>
            
            </div>
            <div class="aboutme_quote" data-aos="fade-up"
            data-aos-anchor-placement="bottom-bottom">
                <img src="~/images/quotes.png" class="quote_pic" alt="Quotes">
                <p>I'm having fun. I'm being myself. I'm doing what I love. That's all that matters.<br>
                    <br>
                -James Charles</p>

            

            </div>   

            
            
        </div>