@model c_sharpPortfolio.Models.ContactViewModel

@{
    ViewData["Title"] = "Contact Me";
}
<div>
    @if (ViewBag.Exception != null)
    {
        <div>@ViewBag.Exception</div>


    }
</div>

<div class="contact">
           
            <div class="form_bg">
                <form class="contact_form" method="post" >
                    
                    <h1 class="novertical">Contact</h1> 
                    <h4 class="arrow">↘</h4>
                    <h1><span class="vertical_text">Intrikit WebCraft</span> </h1>
                    <label asp-for="first_name">
                        <h4>First Name:</h4>
                    </label>                
                        <input asp-for="first_name" name="first_name" >
                    
                    <label asp-for="last_name">
                        <h4>Last Name:</h4>
                    </label>
                        <input asp-for="last_name" name="last_name" >
                    
                    <label asp-for="email">
                        <h4>Email Address:</h4>
                    </label>

                        <input class="email_form" asp-for="email" name="email" >
                    
                    <label asp-for="typeof_app">
                        <h4>Type of application:</h4>
                    </label>
                        <input class="typeofapp" asp-for="typeof_app" name="typeof_app" placeholder="What kind of Application are we building">
                    
                    <label asp-for="Comment">
                        <h4>Please explain:</h4>
                    </label>
                    <textarea name="comment" asp-for="Comment" placeholder="Tell me what you can about the project that you need help with. The more info, the better" cols="60" rows="10"></textarea>
                    
                    <button type="submit" class="contact_button">Send</button>
                    <h2 class="sizebottom"> <span class="form_bottom">⇋</span>&nbsp; A Process You Can Trust&nbsp; <span class="form_bottom">⇋</span></h2>
                </form>
            </div>
            <!-- <canvas id="canvas">Your browser doesn't support Canvas</canvas> -->
            
           
            
        

         
</div>