@{
    ViewData["Title"] = "Contact Me";
}


<div class="contact">
           
            <div class="form_bg">
                <form class="contact_form" action="contact.html">
                    
                    <h1 class="novertical">Contact</h1> 
                    <h4 class="arrow">↘</h4>
                    <h1><span class="vertical_text">Intrikit WebCraft</span> </h1>
                    <label for="first_name">
                        <h4>First Name:</h4>                  
                        <input type="text" name="first_name" >
                    </label>
                    <label for="last_name">
                        <h4>Last Name:</h4>
                        <input type="text" name="last_name" >
                    </label>
                    <label for="email">
                        <h4>Email Address:</h4>
                        <input class="email_form" type="text" name="email" >
                    </label>
                    <label for="typeof_app">
                        <h4>Type of application:</h4>
                        <input class="typeofapp" type="text" name="typeof_app" placeholder="What kind of Application are we building">
                    </label>
                    <label for="comment">
                    <h4>Please explain:</h4>
                    <textarea name="comment" placeholder="Tell me what you can about the project that you need help with. The more info, the better" cols="90" rows="10"></textarea>
                    </label>
                    <button class="contact_button">Send</button>
                    <h2 class="sizebottom"> <span class="form_bottom">⇋</span>&nbsp; A Process You Can Trust&nbsp; <span class="form_bottom">⇋</span></h2>
                </form>
            </div>
            <!-- <canvas id="canvas">Your browser doesn't support Canvas</canvas> -->
            
           
            
        

         
        </div>