@{
    ViewData["Title"] = "Projects";
}


<div class="projects">
            <div class="navbar_projects">
                <h1 class="title" data-aos="fade-up"
                data-aos-anchor-placement="bottom-bottom">Projects</h1>
            </div>
            <div class="project1" data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-anchor-placement="bottom-bottom"
            data-aos-duration="2000">
                <img src="~/images/brewproject.png" alt="Brewscovery" class='image'>
                <div class="overlay1">
                    <div class="text1">
                        <h3>About Brewscovery</h3>
                            <p>An Application using an API to search for your favorite beer. Register and Login to your profile and search for your 
                                favorite beer to find which brewery closest to you has it.
                            </p>
                        <div class='frontend'>
                            <h4 class='feheader'>Front-end</h4>
                            <ul class='frontlist'>
                                <li>HTML5</li>
                                <li>CSS3</li>
                                <li>JavaScript</li>
                                <button>See Code</button>
                            </ul>
                        </div>
                        <div class='backend'>
                            <h4 class=beheader>Back-end</h4>
                            <ul class="backlist">
                                <li>Python</li>
                                <li>Django</li>
                                <li>MySQL</li>
                                <button>See Project</button>

                            </ul>
                        
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="project1" data-aos="flip-up"
            data-aos-easing="ease-out-cubic"
            data-aos-anchor-placement="bottom-bottom"
            data-aos-duration="2000">
                <img src="~/images/stockx.png" alt="Brewscovery" class='image'>
                <div class="overlay1">
                    <div class="text1">
                        <h3>About Stock Palace</h3>
                            <p>Stock Palace is a streetwear eCommerce application I created with
                            two other friends and hosted on Amazon Web Services. 
                            </p>
                        <div class='frontend'>
                            <h4 class='feheader'>Front-end</h4>
                            <ul class='frontlist'>
                                <li>HTML5</li>
                                <li>CSS3</li>
                                <li>Bootstrap</li>
                                <button>See Code</button>
                            </ul>
                        </div>
                        <div class='backend'>
                            <h4 class=beheader>Back-end</h4>
                            <ul class="backlist">
                                <li>Node.js</li>
                                <li>MongoDB</li>
                                <li>Express.js</li>
                                <button>See Project</button>

                            </ul>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="project1" data-aos="flip-right"
            data-aos-easing="ease-out-cubic"
            data-aos-anchor-placement="bottom-bottom"
            data-aos-duration="2000">
                <img src="~/images/brewproject.png" alt="Brewscovery" class='image'>
                <div class="overlay1">
                    <div class="text1">Hello Animal Shelter</div>
                </div>
            </div>
            
            
            <div class="projects_quote" data-aos="fade-in"
            data-aos-anchor-placement="top-center"
            data-aos-duration="3000">
                <div class="quote">
                    <blockquote cite="https://www.goodreads.com/quotes/201306-when-you-don-t-create-things-you-become-defined-by-your">"When you don't create things, you become defined by your
                     tastes rather than 
                    ability. Your tastes only narrow and exlude people.... So, create!"</blockquote>
                    
                    <h4>- Why The Lucky Stiff</h4>
                </div>
            </div>


        </div>

